@import "tailwindcss";

.caveat-regular {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caveat-bold {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.caveat-bolder {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.caveat-boldest {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.averia-serif-libre-light {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .averia-serif-libre-regular {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .averia-serif-libre-bold {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .averia-serif-libre-light-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .averia-serif-libre-regular-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .averia-serif-libre-bold-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: italic;
  }
  
